
body
{
    box-sizing: border-box;
    width: 1900px;
    margin: 0px;
    padding: 0px;
}
ul
{
    list-style: none;
}
nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    left:0;
    top:0;
    z-index: 0;
    width:100%;
    background-image: url("FromPSD/MainMenu.png");
    height: 88px;
    right:450px
}
nav ul
{
    display: flex;
    margin-bottom: 0px;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    right: 450px;
}
nav ul li a
{
    height: 42px;
    margin:3px ;
    padding: 0 20px;
    display: flex;
    font-size: 16px;
    
}
nav ul li a
{
    color:white;
    text-decoration: none;
}
.Logo
{
    display: flex;
    position: absolute;
    left: 450px;
    top: 0;
    background-image: url(FromPSD/LogoBackground.png);
    box-shadow: 1px 2px 4px #adadad;
}
